{% extends 'dashboard/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<div class="section">

    <!-- FIRST BLOCK -->
    <div class="card">
        <div class="card-text">
            <h2>30-Days of Yoga</h2>
            <p>
                Transform your body and mind in just 30 days.<br>
                Relieve pain, build strength, and feel more energetic every day.<br>
                Start small, stay consistent, and see real change.
            </p>

            <a href="{% url 'login' %}" class="btn-main">Get Start</a>
        </div>

        <div class="card-image">
            <img src="{% static 'images/img1.png' %}" alt="Yoga">
        </div>
    </div>


    <!-- SECOND BLOCK -->


    <div class="card">
        <div class="card-text">
            <h2>Tell Us Your Pain</h2>
            <p>
                Share your discomfort and get personalized yoga guidance.<br>
                Relieve pain naturally.
            </p>

            <a href="{% url 'login' %}" class="btn-main">Start Here</a>
        </div>

        <div class="card-image">
            <img src="{% static 'images/img2.png' %}" alt="Yoga">
        </div>
    </div>

</div>

{% endblock %}